* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    height: 80%;
}

.slider {
    height: 20%;
    width: 70%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_images {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
}

.img_slider {
    height: 150px;
    width: 100px;
}

.prev, .next {
    width: 3rem;
    height: 4rem;
    cursor: pointer;
    opacity: .2;
    flex-shrink: 0;
}

.prev:hover, .next:hover {
    opacity: 0.6;
  }

.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover{
    transform: scale(1.5);
}
