* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    height: 70%;
}

.slider {
    height: 30%;
    width: 700px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider_images {
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    flex-grow: 2;
}

.img_slider {
    position: relative;
    height: 150px;
    width: 100px;
    margin: 0 5px;
}

.prev, .next {
    width: 3rem;
    height: 4rem;
    cursor: pointer;
    opacity: .2;
    flex-shrink: 0;
}

.prev:hover, .next:hover {
    opacity: 0.6;
  }

/* .img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover{
    transform: scale(1.2);
} */


@media screen and (max-width: 950px){    
    .prev, .next {
        width: 2rem;
        height: 3rem;
    }
}